In [1]:
import pandas as pd

In [2]:
trump = pd.read_csv('trump_legacy/Trumps Legcy.csv')
trump.head(10)

,id,text,device,favorites,retweets,date
0,98455000000000000,Republicans and Democrats have both created ou...,TweetDeck,49,255,8/2/2011 18:07
1,1234650000000000000,I was thrilled to be back in the Great city of...,Twitter for iPhone,73748,17404,3/3/2020 1:34
2,1218010000000000000,RT @CBS_Herridge: READ: Letter to surveillance...,Twitter for iPhone,0,7396,1/17/2020 3:22
3,1304880000000000000,The Unsolicited Mail In Ballot Scam is a major...,Twitter for iPhone,80527,23502,9/12/2020 20:10
4,1218160000000000000,RT @MZHemingway: Very friendly telling of even...,Twitter for iPhone,0,9081,1/17/2020 13:13
5,1217960000000000000,RT @WhiteHouse: President @realDonaldTrump ann...,Twitter for iPhone,0,25048,1/17/2020 0:11
6,1223640000000000000,Getting a little exercise this morning! https:...,Twitter for iPhone,285863,30209,2/1/2020 16:14
7,1319500000000000000,https://t.co/4qwCKQOiOw,Twitter for iPhone,130822,19127,10/23/2020 4:52
8,1319500000000000000,https://t.co/VlEu8yyovv,Twitter for iPhone,153446,20275,10/23/2020 4:46
9,1319500000000000000,https://t.co/z5CRqHO8vg,Twitter for iPhone,102150,14815,10/23/2020 4:46

In [3]:
comp = pd.read_csv('sp500_daily/sp500_companies.csv')
comp.head(10)

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,407.72,3029538963456,1.184270e+11,0.176,Redmond,WA,United States,221000.0,Microsoft Corporation develops and supports so...,0.064540
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,181.42,2801469489152,1.301090e+11,0.021,Cupertino,CA,United States,161000.0,"Apple Inc. designs, manufactures, and markets ...",0.059681
2,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,776.63,1941575041024,3.448000e+10,2.653,Santa Clara,CA,United States,29600.0,"NVIDIA Corporation provides graphics, and comp...",0.041363
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,173.16,1798682181632,8.551500e+10,0.139,Seattle,WA,United States,1525000.0,"Amazon.com, Inc. engages in the retail sale of...",0.038318
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,136.38,1702349766656,1.001720e+11,0.135,Mountain View,CA,United States,182502.0,Alphabet Inc. offers various products and plat...,0.036266
5,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,137.43,1700641112064,1.001720e+11,0.135,Mountain View,CA,United States,182502.0,Alphabet Inc. offers various products and plat...,0.036230
6,NMS,META,"Meta Platforms, Inc.","Meta Platforms, Inc.",Communication Services,Internet Content & Information,484.02,1233965416448,6.018400e+10,0.247,Menlo Park,CA,United States,67317.0,"Meta Platforms, Inc. engages in the developmen...",0.026288
7,NYQ,BRK-B,Berkshire Hathaway Inc. New,Berkshire Hathaway Inc.,Financial Services,Insurance - Diversified,412.14,892769468416,1.356820e+11,0.196,Omaha,NE,United States,396500.0,"Berkshire Hathaway Inc., through its subsidiar...",0.019019
8,NYQ,LLY,Eli Lilly and Company,Eli Lilly and Company,Healthcare,Drug Manufacturers - General,757.64,719882223616,1.231460e+10,0.281,Indianapolis,IN,United States,43000.0,"Eli Lilly and Company discovers, develops, and...",0.015336
9,NMS,TSLA,"Tesla, Inc.","Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,202.04,643454926848,1.355800e+10,0.035,Austin,TX,United States,140473.0,"Tesla, Inc. designs, develops, manufactures, l...",0.013708

In [4]:
stocks = pd.read_csv('sp500_daily/sp500_stocks.csv')
stocks.head(10)

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,53.295406,83.019997,83.449997,82.669998,83.089996,3043700.0
1,2010-01-05,MMM,52.961571,82.500000,83.230003,81.699997,82.800003,2847000.0
2,2010-01-06,MMM,53.712673,83.669998,84.599998,83.510002,83.879997,5268500.0
3,2010-01-07,MMM,53.751186,83.730003,83.760002,82.120003,83.320000,4470100.0
4,2010-01-08,MMM,54.129955,84.320000,84.320000,83.300003,83.690002,3405800.0
5,2010-01-11,MMM,53.911655,83.980003,84.599998,83.410004,84.379997,2927100.0
6,2010-01-12,MMM,53.956623,84.050003,84.180000,83.300003,83.580002,3031800.0
7,2010-01-13,MMM,53.783283,83.779999,84.110001,83.199997,84.110001,3102000.0
8,2010-01-14,MMM,53.603531,83.500000,83.930000,83.419998,83.739998,2634100.0
9,2010-01-15,MMM,53.520107,83.370003,84.089996,82.870003,83.519997,3955000.0